/* colors */

$pinkDiv : #FC0853;
$lightGreen: #19CCAA;
$darkContent: #252627;
$portfolioDarkGradient: (179.26deg, rgba(252, 252, 252, 0.1) -10.71%, #000000 70.11%); 
$portfolioGrennGradient: (0.27deg, rgba(5, 224, 182, 0.1) 141.09%, #000000 7.04%);

/* ********** */

/* Fonts */

$fontDamion: "Damion";
$fontTxt: "Montserrat";
$fontWTxt: 600;
$fontSTxt: 1.05rem;
$fontWHeadlines: bold;
$fontSHeadlines: 2.3rem;

/*  */